name: Release new version

on:
  push:
    tags:
      - "v*.*.*"
      - "v*.*.*-alpha*"
      - "v*.*.*-beta*"
      - "v*.*.*-rc*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        uses: montudor/action-zip@v1
        with:
          args: zip -9 -qq -r builds/popochiu-${{ github.ref_name }}.zip addons/popochiu README.md LEEME.md LICENSE
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: builds/popochiu-${{ github.ref_name }}.zip
          body_path: release-notes/${{ github.ref_name }}.md
